.about_us {
    section.section_1 {
        background: $dark;
        padding: 175px 0;

        p {
            padding-bottom: 24px;
        }
    }

    section.section_2 {
        padding: 83px 0;
    }
}