header.homepage_header {
    background: $light-grey imgUrl('homepage_banner.png') center bottom;
    background-size: contain;
    padding: 104px 0 560px;
}

header.subpage_header {
    background: $light-grey;
    padding: 95px 0;
}
