header {
    &.homepage_header {
        background: $light-grey imgUrl('homepage_banner.png') center bottom;
        background-size: contain;
        padding: 104px 0 560px;
    }

    &.subpage_header {
        background: $light-grey;
        padding: 95px 0;
    }
}

.homepage {
    section.section_1 {
        background: imgUrl('homepage_section_1.png') left bottom, linear-gradient(90deg, $dark 0% 73%, $primary 73% 100%);
        padding: 140px 0 110px;
        color: $white;
    }

    section.section_2 {
        background: $light-grey;
        padding: 177px 0 79px;

        .description {
            span {
                font-weight: 800;
                color: $primary;
            }
        }
    }

    section.section_3 {
        background: $light-grey;
    }
}

.about_us {
    section.section_1 {
        background: $dark;
        padding: 175px 0;

        p {
            padding-bottom: 24px;
        }
    }
}

.meet_the_team {
    section.section_1 {
        padding: 115px 0;

        .team_member {
            .name_card {
                width: 264px;
            }
        }
    }
}

.faq {
    background: $primary;
    padding: 162px 0;
    color: $white;
    letter-spacing: -0.02em;

    .heading {
        padding-bottom: 107px;

        span {
            font-weight: 900;
        }
    }
}

.contact_us {
    background: imgUrl('contact-us.png') 36% 22%, linear-gradient(90deg, $dark 0% 73%, $primary 73% 100%);
    padding: 108px 0 0;
    color: $white;
    letter-spacing: -0.02em;
}

.terms_and_conditions {
    background: $light-grey;
    color: $jet-black;

    .content {
        padding: 31.5px 0;
    }
}

.blogs {
    padding: 116px 0;

    .blog_card {
        color: $white;
        height: 100%;
        display: flex;
        flex-direction: column;

        .featured_image {
            height: 315px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }

        .content {
            flex: 1;
            background: $primary;
            padding: 22px 35px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
        }
    }

    .search {
        background: $primary;
        padding: 24px 48px;

        form {
            flex: 1;
        }

        input {
            background: none;
            border: 0;
            color: rgba(255, 255, 255, 0.7);
            width: 100%;

            &:focus {
                box-shadow: none;
                outline: none;
            }

            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        input[type=submit] {
            display: none;
        }
    }

    .recent_posts,
    .categories {
        background: $primary;
        padding: 38px 36px;
        color: $white;
    }

    .recent_posts {
        margin: 35px 0;
    }
}

.blog_post {
    background-color: $light-grey;
    font-size: 21px;
    letter-spacing: -0.02em;
    line-height: 1.95;
    padding-bottom: 105px;

    ul,
    ol {
        padding-inline-start: 100px;

        li::marker {
            font-weight: 900;
        }
    }
}

.services {
    padding: 116px 0 153px;

    .service_card {
        .content {
            margin-top: -97.5px;
            position: relative;
            margin-left: auto;
            width: 75%;
            background: $primary;
            padding: 30px 35px;
            color: $white;
            height: 195px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
        }
    }
}

.inner_service {
    .header {
        background: $dark;
        padding: 155px 0;
        color: $white;

        .description {
            column-count: 2;
            line-height: 1.8;
            gap: 78px;
        }
    }

    .footer {
        position: relative;

        .inner {
            position: absolute;
            bottom: 0;
            width: 100%;

            .part_1 {
                max-width: 323px;
                background: $primary;
                padding: 60px 28px 53px;
                color: $white;
            }

            .part_2 {
                max-width: 325px;
                padding: 41px 31px;
                color: $white;
                background: $black;
            }
        }
    }

    .template_2 {
        .section_1 {
            padding: 110px 0 136px;
        }

        .section_2 {
            padding: 141px 0;

            .description {
                column-count: 2;
                line-height: 1.8;
                gap: 78px;
            }
        }

        .section_3 {
            padding: 122px 0;
        }
    }

    .template_3 {
        padding: 146px 0 126px;

        .grid_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .grid_item {
            border: 1px solid $dark-grey;
            text-align: center;
            padding: 78px 0;
        }

        .grid_item{
            &:first-child,&:nth-child(2),&:nth-child(3),&:nth-child(4) {
                border-top: 0;
            }

            &:first-child,&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8) {
                border-bottom: 0;
                border-left: 0;
            }

            &:nth-child(4), &:last-child {
                border-right: 0;
            }
        }
    }

    .template_4 {
        .section_1 {
            padding: 68px 0;
        }

        .section_2 {
            background: $primary;
            color: $white;
            padding: 132px 0 90px;
        }
    }
}

footer {
    background: linear-gradient(90deg, $jet-black 0 30%, $dark 30% 100%);
    color: $white;

    .quick-links {
        padding: 121px 0 101px;

        .description span {
            font-weight: 700;
        }
    }

    hr {
        border-color: #C4C4C4;
        margin: 0;
    }

    .footer-bottom {
        padding: 80px 0;
    }

    .footer_menu {
        ul.menu {
            padding-inline-start: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 16px 0;
            }
        }

        ul.menu_services {
            column-count: 2;
            gap: 35px;
        }
    }
}